{
  "presets": [
    "env",
    "react"
  ],
  "env": {
    "start": {
      "plugins": ["babel-plugin-styled-components"],
      "presets": [
        "react-hmre"
      ]
    }
  },
  "plugins": [
    "babel-plugin-styled-components",
    "transform-object-rest-spread"
  ]
}
